// Colors
$black: #000000;
$brand-primary: #5b4681;
$grey: #dddddd;
$white: #ffffff;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: $white;

// Button
$button-bg: $brand-primary;
$button-color: $white;
$button-secondary-bg: #f5f5f5;
$button-secondary-color: #777777;
$button-secondary-border-color: $grey;
$button-pill-color: $brand-primary;

//Header
$header-bg: $brand-primary;
$header-color: $white;